{
    "presets": [
      ["env", {
         "modules": false,
         "targets": {
          "browsers": ["> 5%", "last 2 versions", "not ie <= 8", "safari >= 7"]
        }
      }],
      "stage-3"
    ],
    "plugins": [
      "syntax-dynamic-import",
      ["component",
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]
    ]
  }