<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description"
        content="Download LesPark, Meet Your Girls Here, a Social App for Lesbian and Bisexual Women">
    <meta name="baidu-site-verification" content="zQPDtEWA1k" />
    <title>LesPark—The best App for Lesbian Chat & Dating</title>
    <meta property="og:title" content="LesPark—The best App for Lesbian Chat & Dating" />
    <meta property="og:description"
        content="Download LesPark, Meet Your Girls Here, a Social App for Lesbian and Bisexual Women" />
    <meta property="og:image" content="http://static.lespark.cn/img/Oval13.png">
    <meta property="og:type" content="website" />
    <meta property='fb:app_id' content='1397507653823766'>
    <meta property='og:image:width' content="300">
    <meta property='og:image:height' content="300">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
    <div id="app"></div>
</body>

</html>